### Import Packages

In [48]:
import pandas as pd
import datetime
import numpy as np

### Import Data

In [2]:
df1 = pd.read_excel('Tab_Villages_Mapping.xlsx','Sheet1',dtypes=['int','int','str','str','str','str'])
df2 = pd.read_excel('Tab_Villages_Mapping.xlsx','Sheet2',dtypes=['str','str','str','int','str','str'])

In [3]:
#df1['Survey Date'] = df1['Survey Date'].apply(lambda x: datetime.datetime.strptime(str(x),'%Y-%M-%d'))
df2['Survey Start Date'] = df2['Survey Start Date'].apply(lambda x: datetime.datetime.strptime(str(x),'%d-%b-%Y'))
df2['Survey End Date'] = df2['Survey End Date'].apply(lambda x: datetime.datetime.strptime(str(x),'%d-%b-%Y'))

### Preliminary Analysis

In [4]:
df1.head()

   Response No  Tab No Survey Date  AC Name  Mandal Name  Village Name
0          202      35  2015-05-24      NaN          NaN           NaN
1          203     400  2015-07-09      NaN          NaN           NaN
2          206     498  2015-06-10      NaN          NaN           NaN
3          206     487  2015-06-13      NaN          NaN           NaN
4          207     455  2015-05-31      NaN          NaN           NaN

In [13]:
len(df1)
df1['AC Name'].loc[0] = 'something'
df1.head()

C:\Users\labuser\Anaconda2\lib\site-packages\pandas\core\indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   Response No  Tab No Survey Date    AC Name  Mandal Name  Village Name
0          202      35  2015-05-24  something          NaN           NaN
1          203     400  2015-07-09        NaN          NaN           NaN
2          206     498  2015-06-10        NaN          NaN           NaN
3          206     487  2015-06-13        NaN          NaN           NaN
4          207     455  2015-05-31        NaN          NaN           NaN

In [6]:
date = df1['Survey Date'][0]

In [7]:
df2.tail()

,AC Name,Mandal Name,Village Name,Tab No,Survey Start Date,Survey End Date
2219,Nandigama,Veerullapadu,Peddapuram,41,2015-06-15,2015-07-22
2220,Nandigama,Veerullapadu,Peddapuram,151,2015-06-15,2015-07-22
2221,Nandigama,Veerullapadu,Peddapuram,428,2015-06-15,2015-07-22
2222,Nandigama,Veerullapadu,Peddapuram,308,2015-06-15,2015-07-22
2223,Nandigama,Veerullapadu,Peddapuram,440,2015-06-15,2015-07-22

In [54]:
x = df2[df2['Tab No'] == 37][df2['Survey Start Date'] <= date][df2['Survey End Date'] >= date]
print(df2['Mandal Name'][df2['Tab No'] == 35][df2['Survey Start Date'] <= date][df2['Survey End Date'] >= date])
print(df2['AC Name'][df2['Tab No'] == 35][df2['Survey Start Date'] <= date][df2['Survey End Date'] >= date])

1563    Vissannapeta
Name: Mandal Name, dtype: object
1563    Tiruvuru
Name: AC Name, dtype: object

C:\Users\labuser\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [57]:
x.values[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
for i in range(len(df1)):
    
    print( "Line No - " + str(i+1) + '\n')
    
    #initialize useful strings
    ac = np.nan
    mandal = np.nan
    village = np.nan
    
    #Define the costraints
    tab_no = df1['Tab No'][i]
    date = df1['Survey Date'][i]
    
    #Extract relevant values using the constraints of tab number and dates.
    
    try:
        df = df2['Village Name'][df2['Tab No'] == tab_no][df2['Survey Start Date'] <= date][df2['Survey End Date'] >= date]
        #AC Name
        ac = df['AC Name'].values[0]
        print (ac)
        #Mandal Name
        mandal = df['Mandal Name'].values[0]
        #Village Name
        village = df['Village Name'].values[0]
    except KeyError:
        pass
    
    #Insert the values in the first dataset
    
    
    df1['AC Name'].loc[i] = ac
    df1['Mandal Name'].loc[i] = mandal
    df1['Village Name'].loc[i] = village

In [60]:
df1.head()

   Response No  Tab No Survey Date  AC Name  Mandal Name  Village Name
0          202      35  2015-05-24      NaN          NaN           NaN
1          203     400  2015-07-09      NaN          NaN           NaN
2          206     498  2015-06-10      NaN          NaN           NaN
3          206     487  2015-06-13      NaN          NaN           NaN
4          207     455  2015-05-31      NaN          NaN           NaN